@{
    ViewData["Title"] = "Home Page";
}


<div class="home-content">
    <h1>Welcome to Purrfect Pals Adoption Center!</h1>
    <p>We are a dedicated cat adoption center committed to finding loving forever homes for our feline 
        friends. At our center, we believe that every cat deserves a second chance and a place to call 
        their own. Our team works tirelessly to provide the best care and support to our resident cats, 
        ensuring they are healthy, happy, and ready to become beloved members of their new families. 
        Whether you're looking for a playful kitten or a wise senior cat, we have a wide range of feline 
        companions waiting to steal your heart. Join us in making a difference in the lives of cats by 
        opening your heart and home to a new furry friend today. Together, we can create countless happy 
        endings and lifelong bonds filled with purrs and love. Welcome home!</p>
    <div class="button-section">
    <a class="button" asp-area="" asp-controller="Cat" asp-action="Index">Adopt a Cat!</a>
    </div>
</div>